@import "../..//responsive.scss";
nav{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        transform: all 0.4s ease;

        @include sm{
            display: none;

        }
     
        &:hover{
            scale: 1.05;
        }
    }

    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 40px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
        }
        img{
            width: 28px;
        }

        span{
            @include md{
                display: none;
            }
            @include sm{
                display: initial;
            
            }
        }
    
    }
    .right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        @include md{
            background-color: rgba(163, 24, 24, 0.68);
        }

        a{
            padding: 12px 24px;
            margin: 20px;
        }

        .register{
            background-color: #0d3d4a;
            color: white;
        }

        .register:hover {
            background-color: #0f5f73;
        }

        .menuIcon{
            display: none;
            z-index: 999;
            
            img{
                margin-right: 30px;
                width: 28px;
                cursor: pointer;
            }

            @include sm{
                display: initial;
            }
             
       }
       .menu{
        
        position: absolute;
        background-color: black;
        top: 0;
        right: -50%;
        color: white;
        height: 100vh;
        width: 50%;
        transition: 0.5s ease;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include sm{
           
            a{
                display: initial;
            }
        }

        &.active{
            right:0;
        
        }
    }
}
  
}

