@import "./responsive.scss";
.layout{
    background-color: #ffffff;
    height:100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 29px;
    padding-right: 29px;
    display: flex;
    flex-direction: column;
 
  @include lg{
    background-color: #ffffff;
    max-width: 1288px;
  }  
  
  @include md{
    background-color: #0d3d4a;
    max-width: 852px;
  } 
  
  @include sm{
    background-color: #0d3d4a;
    max-width: 669px;
  }
  .content{
    background-color: #96e8ff;
    flex: 1;  
  }
}

